
body {
  background-color: rgb(251, 251, 251);
  background-image: url('../images/vertim2.jpg');
  background-repeat:unset
}

.jumbotron{
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  border-bottom: 8px solid black;
  background-image: url('../images/image3.webp');
  text-shadow: 2px 2px rgb(255, 46, 38) ;
}

.lead {
  text-shadow: none;
}

.jumbotron h2 {
  text-shadow: 2px 2px rgb(6, 96, 213);
}


.box-1 {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 10px;
  height: 100px;
  font-size: larger;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-top: 4px solid rgb(0, 0, 0);
  border-bottom: 4px solid rgb(0, 0, 0);
  background-image: url('../images/image3.webp');
  
}



.my-container {
 margin: 30px;
 
}


.my-row {
  height: 400px;
  padding: 20px;
  margin: 100px;
  width: 1700px;
  background-color: rgba(232, 226, 226, 0.994);
  border: 20px solid black;
  
  
}

.my-col {
  border: 3px solid black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gameButtons {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 10px 15px;
  border: 2px solid aliceblue;
}

.gameButtons:hover {
  background: rgb(255, 46, 38);
}
