body {
  background-color: rgb(251, 251, 251);
  background-image: url('../images/andrew-kliatskyi-ZceT2m9wV7w-unsplash.jpg');
  background-repeat: unset;
  margin: 0 auto;
}

.li {
 background-color:  rgba(232, 226, 226, 0.994);
}

.jumbotron {
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  border-bottom: 8px solid black;
  background-image: url('../images/angelo-abear-Tmn0epKq7vI-unsplash.jpg');
  text-shadow: 7px 7px rgb(0, 0, 0);
}

.lead {
  text-shadow: none;
}

.jumbotron h2 {
  text-shadow: 2px 2px rgb(6, 96, 213);
}


.my-container {
  margin: 30px;
}

.my-container {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.my-row {
  background-color: rgba(232, 226, 226, 0.994);
  width: 1700px;
  border: 20px solid rgb(145, 145, 145);
}

.my-row-2 {
  width: 1000px;
  background-color: rgba(232, 226, 226, 0.994);
  border: 20px solid rgb(145, 145, 145);
}

.my-col {
  border: 3px solid black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gameButtons {
  background-color: rgb(196, 37, 37);
  color: aliceblue;
  padding: 10px 15px;
  border: 2px solid aliceblue;
}

.gameButtons:hover {
  background: rgb(255, 46, 38);
}

.flex {
  display: flex;
  justify-content: center;
}

.foodElement ul {
list-style: circle;
text-align: justify;
font-size: larger;
}

.foodElement ol {
  font-size: larger;
  text-align: justify;
}

#foodImg {
padding: 5px;
width: 275px;
height: 275px;
  
}